---
import type { CollectionEntry } from "astro:content";
import Common from "./Common.astro";

type Props = CollectionEntry<"posts">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Common title={title} description={description}>
  <article>
    {heroImage && <img width={720} height={360} src={heroImage} alt="" />}
    <h1 class="title">{title}</h1>
    {
      updatedDate && (
        <div class="last-updated-on">Last updated on {updatedDate}</div>
      )
    }
    <hr />
    <slot />
  </article>
</Common>
